.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(257px, 1fr));
  grid-gap: 24px;
}

.cards > ul > li {
  border: 1px solid #dadada;
  background-color: var(--background-color);
}

.cards .cards-card-body {
  margin: 16px;
}

.cards .cards-card-image {
  line-height: 0;
}

.cards > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

.cards-container .default-content-wrapper .button-container .button{
  background-color: #ffea00;
  border-radius: 0%;
  color:black;
}

.cards-container .cards-wrapper .cards .cards-card-body p:nth-child(2){
  font-size: 0.85em;
  color: #555;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.about-us-contributors .cards .cards-card-image img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.about-us-contributors .cards > ul > li{
  border:none;
}

.about-us-contributors .cards-wrapper .cards {
  text-align: center;
}