.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
  height:100%;
}

@media (width >= 900px) {
  .columns > div {
    flex-direction: unset;
    gap: 24px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}

.columns-wrapper .columns.columns-2-cols > div > div .button-container .button{
  background-color: #ffea00;
  border-radius: 0%;
  color:black;
}

.columns-wrapper .columns.columns-2-cols{
  background-color: #ebebeb;
}
